<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>font-awesome:fa-bluetooth</string>
	<key>CFBundleIdentifier</key>
	<string>com.roeybiran.LaunchBar.action.BluetoothToggle</string>
	<key>CFBundleName</key>
	<string>Bluetooth Toggle</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Roey Biran</string>
		<key>LBEmail</key>
		<string>roeybiran@icloud.com</string>
		<key>LBRequirements</key>
		<string>blueutil</string>
		<key>LBSummary</key>
		<string>Toggle the Mac's Bluetooth connection</string>
		<key>LBTwitter</key>
		<string></string>
		<key>LBWebsiteURL</key>
		<string>https://github.com/roeybiran</string>
	</dict>
	<key>LBRequirements</key>
	<string>blueutil</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBRunInBackground</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.sh</string>
		</dict>
	</dict>
</dict>
</plist>
