<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>/System/Library/PreferencePanes/Security.prefPane/Contents/Resources/FileVault.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.rb.LaunchBar.action.SystemPreferencesAuthorize</string>
	<key>CFBundleName</key>
	<string>System Preferences: Authorize</string>
	<key>CFBundleVersion</key>
	<string></string>
	<key>LBAbbreviation</key>
	<string>authorize</string>
	<key>LBAssociatedApplication</key>
	<string></string>
	<key>LBDebugLogEnabled</key>
	<true/>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Roey Biran</string>
		<key>LBWebsiteURL</key>
		<string>github.com/roybrian</string>
	</dict>
	<key>LBRequiredApplication</key>
	<string></string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBRunInBackground</key>
			<true/>
			<key>LBScriptName</key>
			<string>system-preferences-authorize.scpt</string>
		</dict>
	</dict>
</dict>
</plist>
