<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.roeybiran.LaunchBarItunesLikeDislike</string>
	<key>CFBundleName</key>
	<string>iTunes: Like/Dislike...</string>
	<key>LBAbbreviation</key>
	<string></string>
	<key>LBAssociatedApplication</key>
	<string>com.apple.iTunes</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Roey Biran</string>
		<key>LBRequirements</key>
		<string>'terminal-notifier' (github.com/julienXX/terminal-notifier)</string>
		<key>LBWebsiteURL</key>
		<string>https://github.com/roeybiran</string>
	</dict>
	<key>LBRequiredApplication</key>
	<string>com.apple.iTunes</string>
	<key>LBRequirements</key>
	<string>'terminal-notifier' (github.com/julienXX/terminal-notifier)</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBRunInBackground</key>
			<true/>
			<key>LBScriptName</key>
			<string>itunes-like-dislike.scpt</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Roey Biran</string>
</dict>
</plist>
