<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>icon.png</string>
	<key>CFBundleIdentifier</key>
	<string>com.roeybiran.LaunchBarNpms</string>
	<key>CFBundleName</key>
	<string>npms</string>
	<key>LBAssociatedApplication</key>
	<string></string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Roey Biran</string>
		<key>LBEmail</key>
		<string></string>
		<key>LBSummary</key>
		<string># npms

Search for npm modules using npms.io. A port of [alfred-npms](https://github.com/sindresorhus/alfred-npms).

## Usage

- Prepend input with `?` to execute arbitrary search in [npmjs.com](https://www.npmjs.com/).
- Quote your input (either with double or single quotes) to boost exact matches.
- While an item is highlighted:
- Press &lt;kbd&gt;return&lt;/kbd&gt; to open its repository. If it doesn't have one, the corresponding npm page will be opened instead.
- Press &lt;kbd&gt;shift+return&lt;/kbd&gt; to open the selected item's npm page anyway.

## Requirements

- NodeJS, installed in `/usr/local/bin/`.
</string>
		<key>LBWebsiteURL</key>
		<string>https://github.com/roeybiran</string>
	</dict>
	<key>LBRequiredApplication</key>
	<string></string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBLiveFeedbackEnabled</key>
			<true/>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBRunInBackground</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.js</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Roey Biran</string>
</dict>
</plist>
