<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>AirPlayTemplate.icns</string>
	<key>CFBundleIdentifier</key>
	<string>at.obdev.LaunchBar.action.iTunesAirPlay</string>
	<key>CFBundleName</key>
	<string>Select iTunes AirPlay Device</string>
	<key>CFBundleVersion</key>
	<string>1.4</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Objective Development</string>
		<key>LBRequirements</key>
		<string>Requires AirPlay devices on the current network.</string>
		<key>LBResult</key>
		<string>Returns a list of all AirPlay devices available in iTunes.</string>
		<key>LBSummary</key>
		<string>Shows a list of all AirPlay devices available in iTunes. You can then select a devices for playback in iTunes by pressing the the Return key.</string>
		<key>LBTwitter</key>
		<string>@launchbar</string>
		<key>LBWebsiteURL</key>
		<string>https://obdev.at/</string>
	</dict>
	<key>LBRequirements</key>
	<string>Requires AirPlay devices on the current network.</string>
	<key>LBResult</key>
	<string>Returns a list of all AirPlay devices available in iTunes.</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.scpt</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2016 Objective Development</string>
</dict>
</plist>
