<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>com.stairways.keyboardmaestro.editor</string>
	<key>CFBundleIdentifier</key>
	<string>com.yourcompany.LaunchBar.action.RelaunchKeyboardMaestroEngine</string>
	<key>CFBundleName</key>
	<string>Relaunch Keyboard Maestro Engine</string>
	<key>LBAbbreviation</key>
	<string>rkm</string>
	<key>LBAssociatedApplication</key>
	<string>com.stairways.keyboardmaestro.editor</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Roey Biran</string>
		<key>LBEmail</key>
		<string></string>
		<key>LBTwitter</key>
		<string></string>
		<key>LBWebsiteURL</key>
		<string>github.com/roybrian</string>
	</dict>
	<key>LBRequiredApplication</key>
	<string>com.stairways.keyboardmaestro.editor</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBRunInBackground</key>
			<true/>
			<key>LBScriptName</key>
			<string>relaunch-keyboard-maestro-engine.scpt</string>
		</dict>
	</dict>
</dict>
</plist>
