<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>/System/Library/CoreServices/Finder.app/Contents/Applications/AirDrop.app/Contents/Resources/OpenAirDropAppIcon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.roeybiran.LaunchBarAirdropDiscovery</string>
	<key>CFBundleName</key>
	<string>AirDrop Discovery</string>
	<key>LBAssociatedApplication</key>
	<string></string>
	<key>LBDebugLogEnabled</key>
	<true/>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Roey Biran</string>
		<key>LBEmail</key>
		<string>roeybiran@gmail.com</string>
		<key>LBSummary</key>
		<string>Search the ESLint rules index.

- Usage
  - Press &lt;kbd&gt;⏎&lt;/kbd&gt; to open the chosen item's URL in [ESLint.org](https://eslint.org).
- Requirements
  - NodeJS, installed in `/usr/local/bin/`.</string>
		<key>LBWebsiteURL</key>
		<string>https://github.com/roeybiran</string>
	</dict>
	<key>LBRequiredApplication</key>
	<string></string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.js</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Roey Biran</string>
</dict>
</plist>
