<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>com.apple.loginwindow:ShutDown</string>
	<key>CFBundleIdentifier</key>
	<string>com.rb.LaunchBar.action.PowerShutDown</string>
	<key>CFBundleName</key>
	<string>Power: Shut Down</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LBAbbreviation</key>
	<string>shut</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Objective Development</string>
		<key>LBSummary</key>
		<string>This action shuts down the computer.</string>
		<key>LBTwitter</key>
		<string>@launchbar</string>
		<key>LBWebsiteURL</key>
		<string>https://www.obdev.at/</string>
	</dict>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBRunInBackground</key>
			<true/>
			<key>LBScriptName</key>
			<string>power-shut-down.sh</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2014-2018 Objective Development Software GmbH. All rights reserved.</string>
</dict>
</plist>
