<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>/System/Library/PreferencePanes/Notifications.prefPane/Contents/Resources/Notifications.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.rb.LaunchBar.action.NotificationCenterToday</string>
	<key>CFBundleName</key>
	<string>Notification Center: Today</string>
	<key>LBAbbreviation</key>
	<string>tdy</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Roey Biran</string>
		<key>LBEmail</key>
		<string></string>
		<key>LBTwitter</key>
		<string></string>
		<key>LBWebsiteURL</key>
		<string>github.com/roybrian</string>
	</dict>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBRunInBackground</key>
			<true/>
			<key>LBScriptName</key>
			<string>notification-center-today.js</string>
		</dict>
	</dict>
</dict>
</plist>
