<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>com.flexibits.fantastical2.mac</string>
	<key>CFBundleIdentifier</key>
	<string>com.roeybiran.LaunchBarFantastical2Mini</string>
	<key>CFBundleName</key>
	<string>Fantastical 2 Mini</string>
	<key>LBAssociatedApplication</key>
	<string>com.flexibits.fantastical2.mac</string>
	<key>LBDebugLogEnabled</key>
	<true/>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Roey Biran</string>
		<key>LBSummary</key>
		<string>Show the Fantastical 2 mini window. Run the action holding the shift key to open the full calendar</string>
		<key>LBWebsiteURL</key>
		<string>https://github.com/roeybiran</string>
	</dict>
	<key>LBRequiredApplication</key>
	<string>com.flexibits.fantastical2.mac</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBRunInBackground</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.sh</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Roey Biran</string>
</dict>
</plist>
