<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>font-awesome:fa-files-o</string>
	<key>CFBundleIdentifier</key>
	<string>at.obdev.LaunchBar.action.FilesHide</string>
	<key>CFBundleName</key>
	<string>Files: Hide</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>LBAbbreviation</key>
	<string>hide</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Objective Development</string>
		<key>LBSummary</key>
		<string>Hides a file or folder. Use the “Unhide File or Folder” action to make it visible again.</string>
		<key>LBTwitter</key>
		<string>@launchbar</string>
		<key>LBWebsiteURL</key>
		<string>https://obdev.at/</string>
	</dict>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>path</string>
			</array>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBRunInBackground</key>
			<true/>
			<key>LBScriptName</key>
			<string>hide-files.sh</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2016 Objective Development</string>
</dict>
</plist>
