<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>com.apple.iTunes</string>
	<key>CFBundleIdentifier</key>
	<string>com.rb.LaunchBar.action.iTunes.DislikeCurrentTrackCopy</string>
	<key>CFBundleName</key>
	<string>iTunes: Dislike Current Track</string>
	<key>LBAssociatedApplication</key>
	<string>com.apple.iTunes</string>
	<key>LBDebugLogEnabled</key>
	<true/>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Roey Biran</string>
		<key>LBEmail</key>
		<string></string>
		<key>LBRequirements</key>
		<string>'terminal-notifier' (github.com/julienXX/terminal-notifier)</string>
		<key>LBTwitter</key>
		<string></string>
		<key>LBWebsiteURL</key>
		<string>github.com/roybrian</string>
	</dict>
	<key>LBRequiredApplication</key>
	<string>com.apple.iTunes</string>
	<key>LBRequirements</key>
	<string>'terminal-notifier' (github.com/julienXX/terminal-notifier)</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBRunInBackground</key>
			<true/>
			<key>LBScriptName</key>
			<string>itunes-dislike-current-track.js</string>
		</dict>
	</dict>
</dict>
</plist>
