<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>com.if.Amphetamine</string>
	<key>CFBundleIdentifier</key>
	<string>com.roeybiran.LaunchBarAmphetamineControl</string>
	<key>CFBundleName</key>
	<string>Amphetamine Control</string>
	<key>LBAssociatedApplication</key>
	<string>com.if.Amphetamine</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Roey Biran</string>
		<key>LBRequirements</key>
		<string>Amphetamine</string>
		<key>LBResult</key>
		<string>Amphetamine activation options</string>
		<key>LBSummary</key>
		<string>Toggle Amphetamine indefinitely, or activate it for a set amount of time</string>
		<key>LBWebsiteURL</key>
		<string>https://github.com/roeybiran</string>
	</dict>
	<key>LBRequiredApplication</key>
	<string>com.if.Amphetamine</string>
	<key>LBRequirements</key>
	<string>Amphetamine</string>
	<key>LBResult</key>
	<string>Amphetamine activation options</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.scpt</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Roey Biran</string>
</dict>
</plist>
